html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
}

.container {
    /* width: 100vh;
    max-width: 900px; */
    margin: 0 auto;
    align-content: center;
}

.header {
    display:flex;
    justify-content: space-between;
}
.site-title, ul {
    display: flex;
    gap: 0.5em;
}

.logo {
    object-fit: contain;
    margin-left: 1em;
 
}
ul {
    list-style-type: none;
    text-transform: uppercase;
    align-self: end;
}

nav {
    margin:auto;
}

nav a {
    text-decoration: none;
    color: black;
}

.article-featured {
    display: grid;
    grid-template-rows: 5em 3.125em auto 1fr 1em ;
    grid-template-columns: 1em auto 1em;
    background-image: url("/images/article-featured.png");
    color: #fff;
    margin-bottom: 1em;
}

.article-info {
    grid-row:2;
    grid-column: 2;
}
.article-title {
    grid-row: 3;
    grid-column: 2;
    margin:0;
    
}
.article-body {
    grid-row: 4;
    grid-column: 2;
}
.recent-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding:1em;
}
.article-image {
    width:100%;
    border-radius: 0.3em;
}
.post-body {
    color:#505050;
}
.recent-posts h3 {
    text-align: center;
  
}
h3 a {
    color: #000;
}
.footer {
    background-color: #202020;
    padding: 1em;
    margin: 0 auto;
    text-align: center;
}
.footer h4 {
    color: #ECECEC;
    margin-bottom:0;
    font-size:0.75rem;
}
.footer p {
    color: #D7D7D7;
    margin:0;
    font-size: 0.75rem;
}