html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
}

.container {
    margin: 0 auto;
    align-content: center;
}

/**
* HEADER
*/
.header {
    display:flex;
    justify-content: space-between;
}
.site-title, ul {
    display: flex;
    gap:0.5em;
    margin-right: 2em;
}

.logo {
    object-fit: contain;
    width:30px;
    margin-left: 1em;
}
ul {
    list-style-type: none;
    text-transform: uppercase;
    align-self: end;
    gap:1em;
}

nav {
    margin-left:auto;
    align-self: center;
}

.no-decor{
    text-decoration: none;
}

/**
* MAIN
*/

main {
    margin: 0 auto;
    max-width: 90%;
}

.article-featured {
    display: grid;
    grid-template-rows: 5em 3.125em auto 1fr 1em ;
    grid-template-columns: 1em auto 1em;
    background-image: url("/images/article-featured.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    margin-bottom: 2em;
}

.article-info {
    grid-row:2;
    grid-column: 2;
}
.article-title {
    grid-row: 3;
    grid-column: 2;
    margin:0;
    
}
.article-body {
    grid-row: 4;
    grid-column: 2;
}
.recent-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin:auto;
}
.article-image {
    width:100%;
    border-radius: 0.3em;
}
.post-body {
    color:#505050;
}
.recent-posts h3 {
    text-align: center;
  
}
h3 a, 
nav a {
    color: #000;
}

/**
ABOUT ME
*/
.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.recent-post-title {
    text-align: center;
    margin: 1.5em 0 ;
    font-weight: 700;
}
/**
 FOOTER
*/
.footer {
    background-color: #202020;
    padding: 1em;
    margin: 0 auto;
    text-align: center;
}
.footer h4 {
    color: #ECECEC;
    margin-bottom:0;
    font-size:0.75rem;
}
.footer p {
    color: #D7D7D7;
    margin:0;
    font-size: 0.75rem;
}
/**
** MEDIA QUERIES
*/

@media (min-width: 576px) {
    .recent-posts {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr ;
        gap: 1em;
    }
    .view-more {
        grid-column: 1/-1;
    }
    .main {
        width:80%;
        max-width: 900px;
    }
    .about-me, 
    .article-intro {
        width: 80%;
        margin: auto;
    }
    .intro {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 1.5em;
        width: 80%;
        margin-bottom: 3em;
    }
    .avatar {
        grid-row:1/-1;
        justify-self: center;
        align-self: center;
    }
    .intro h1,
    .intro p {
        margin:0;
        padding: 0;
    }
    .intro h1 {
        align-self: end;
    }
}